{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
<style>
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-image: url("https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    font-family: cursive;
}

#login-page {
   width: 500px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: white;
    background-color: #00a827;
    border-color: #c3e6cb;
    margin-top: 10px;
}

.alert-erreur {
    color: white;
    background-color: red;
    border-color: #c3e6cb;
    margin-top: 10px;
}

</style>
{% endblock %}
{% block body %}
<form method="post">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <div class="login-form">

             {# Messages d'errreurs et d'infos #}
        {% if app.request.hasPreviousSession %}
            {% for message in app.flashes('info') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if error %}
            <div class="alert alert-erreur">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
            </div>
        {% endif %}
        
        {# Formulaire de connexion #}
                <h3 class="h3 mb-3 font-weight-normal center-align">Connexion</h3>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail_outline</i>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputEmail" data-error="wrong" data-success="right">E-mail</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <label for="inputPassword">Mot de passe</label>
          </div>
        </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="center-align">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </div>
                
            </div>

            <div class="row">
                <div class="input-field col s6 m6 l6">
                  <p class="margin medium-small"><a href="{{ path('app_register') }}">Inscription</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small"><a href="#">Mot de passe oublié</a></p>
                </div>          
              </div>
        </div>
    </div>

</form>

{% endblock %}
